/*INDEX*/

.bodyindex {
    background-image: url("imgfond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#entete {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    width: 50%;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 4em;
    margin-left: 3.5em;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid white;
}

.midpage {
    display: flex;   
}

.midpage:nth-child(2) {
    flex: 1;
}

.conteneur {
    display: flex;
    flex-direction: column;
    margin-top: 3em ;
    margin-right: 80%;
    margin-left: 5em;   
}

button {
    background-color: transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

button:hover {
    background-color:rgba(105, 104, 104, 0.596);
}

button:active {
    background-color:rgba(105, 104, 104, 0.596);
}

#buttonfirst{
    margin: 1em;
    width: 7em;
    border: 2px outset white;
    align-content: center;
    border-radius: 10px;
    color: white;
    min-width: 160px;
}

#buttonsecond{
    margin: 1em;
    width: 7em;
    border: 1px outset white;
    border-radius: 10px;
    color: white;
    min-width: 160px;
}

.presentation{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    position: relative;
    top: 1em;
    left: 15%;
}

.textepresentation {
    width: 500px;
    margin: auto;
    height: auto;
    max-height: 300px;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 12px;
    overflow: auto;
    border-radius: 10px;
    background-color:rgba(105, 104, 104, 0.596);
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    text-shadow: 1px 1px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
}

@media screen and (max-width : 1023px) {

    .bodyindex {
        background-image: url("imgfondtel.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #entete {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 35px;
        width: 50%;
        color: rgb(255, 255, 255);
        text-align: left;
        margin-top: 4em;
        margin-left: 3em;
        border-bottom: 1px solid rgb(255, 255, 255);
        border-top: 1px solid white;
    }
    
    .midpage {
        flex-direction: column;   
    }

    .midpage:nth-child(2) {
        flex: 1;
    }

    .conteneur {
        margin-top: 5em ;
        margin-right: 80%;
        flex-direction: row;
    }

    button {
        background-color: transparent;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
    }
    
    button:hover {
        background-color: rgba(105, 104, 104, 0.596);
    }

    button:active {
        background-color:rgba(105, 104, 104, 0.596);
    }

    #buttonfirst{
        border: 2px outset white;
        align-content: center;
        border-radius: 10px;
        color: white;
    }

    #buttonsecond{
        border: 1px outset white;
        border-radius: 10px;
        color: white;
    }

    .presentation{
        top: 0;
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 35px;
        position: relative;
    }
    
    .textepresentation {
        margin: 0;
        width: 500px;
        max-width: 100%;
        max-height: 500px;
        text-align: justify;
        color: rgb(255, 255, 255);
        font-size: 35px;
        padding: 12px;
        overflow: auto;
        border-radius: 10px;
        background-color:rgba(105, 104, 104, 0.596);
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(8, 8, 8);
        border-radius: 10px;
      }
      
    a {
        text-decoration: none;
        color: rgb(252, 252, 252);
        text-shadow: 1px 1px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
    }
}

/*CV*/
.CV {
    background-image: url("fondCV.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
}

.identite {
    color: white;
    display: flex;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5em;
    background-image: url("banniereCV.jpg");
    background-size: cover;
    padding-top: 1em;
    padding-bottom: 1em;
}

#buttonretour {
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.781);
    opacity: 0.8;
    border-bottom: 1px solid white;
}

#pdp {
    width: 6em;
    height: 6em;
    border-radius: 10px;
}

#nomprenom {
    width: 50%;
    margin-left: 8em;
    white-space: nowrap;
    text-shadow: 1px 2px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
}

#adresse {
    width: 50%;
    margin-left: 5em;
    min-width: 10em;
    text-shadow: 1px 2px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
}

#email {
    position: absolute;
    top: 11em;
    margin-left: 35%;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid white;
}

#projetpro {
    position: relative; 
    left: 6em;
    top: 20%;
    width: 80%;
    height: 10em;
    text-align: justify;
    color: black;
    max-height: 3em;
    font-size: 20px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#ongletCV {
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;    
    vertical-align: baseline ;
    margin-left: 3em;
    margin-top: 5em;
}

#buttonform {
    position: relative;
    left: 7%;
    width: 150px;
    height: 40px;
    text-align: center;
    vertical-align: text-top ;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

#buttonxp {
    position: absolute;
    left: 27%;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
} 

#buttonperso {
    position: absolute;
    left: 47%;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
} 

#bodyCV {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5em;
    vertical-align: baseline;
}

#artformation {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
    width: 75%;
    padding-left: 6em;
    line-height: 150%;
    background-size: cover;
}

#artexperience {
    position: relative;
    left: 5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 75%;
    max-height: 250px;
    overflow: auto;
}

#artperso {
    position: relative;
    top: 1em;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#perso {
    position: relative;
    left: 6em;
}

#interet {
    position: relative;
    left: 20%;
}

@media screen and (max-width : 1023px) {
    
    .CV {
        background-image: url("fondCVmobile.jpg");
        background-repeat: no-repeat;
        background-size:  cover;
    }
    
    
    .identite {
        color: white;
        display: block;
        display: flex;
        flex-wrap: wrap;
        font-size: 35px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 1em;
        background-image: url("banniereCV.jpg");
        background-size: cover;
        padding-top: 1em;
        padding-bottom: 1em;
        
    }
    
    #pdp {
        width: 6em;
        height: 6em;
        border-radius: 10px;
    }
    
    #nomprenom {
        width: 25%;
        margin-left: 1em;
        white-space: nowrap;
        text-shadow: 1px 2px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
        
    }
    
    #adresse {
        width: 25%;
        margin-left: 1em;
        min-width: 10em;
        text-shadow: 1px 2px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
        
    }
    
    #email {
        position: relative;
        top: 1em;
        margin-left: 35%;
        font-size: 25px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    #buttonretour {
        position: absolute;
        left: 1em;
        color: grey;
        opacity: 0.8;
     
    }
    #projetpro {
        position: relative;
        left: 3em;
        top: 3em;
        width: 80%;
        height: 10em;
        text-align: justify;
        color: black;
        max-height: 3em;
        font-size: 30px; 
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    
    
    #ongletCV {
        position: relative;
        top: 3em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;    
        vertical-align: baseline ;
        margin-left: 10%;
        margin-top: 15%;
    }
    #buttonform {
        position: relative;
        left: 5%;
        text-align: center;
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        
    }
    
    #buttonxp {
        position: relative;
        left: 15%;
        text-align: center;
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
    } 
    
    #buttonperso {
        position: relative;
        left: 25%;
        text-align: center;
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
    } 
    
    #bodyCV {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 5em;
        vertical-align: baseline;
        
    }
    #artformation {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px; 
        width: 75%;
        padding-left: 10%;
        line-height: 150%;
        background-size: cover;
    }
    
    #artexperience {
        position: relative;
        left: 10%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 1em;
        font-size: 20px;
        width: 75%;
        height: auto;
        max-height: 400px;
        overflow: auto;
        border-bottom: 1px solid black;
    }
    
    #artperso {
        display: flex;
        flex-direction: column;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 1em;
        font-size: 20px;
        width: 75%;
        padding-left: 5%;
    }
    
    #perso {
        position: relative;
        left: 5%;
    }
    
    #interet {
        position: relative;
        top: 2em;
        left: 5%;
    }

    #buttonretour {
        top: 30%;
    }
}

/*MOTIVATIONS*/

#bodymotiv {
    background-image: url("fondbodymotiv1.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 1em;
}

#artmotiv {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
    width: 75%;
    padding-left: 12%;
    line-height: 150%;
    text-align: justify;
    align-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#conclusion {
    font-weight: 900;
}
#bannieremotiv {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10%;
    padding-right: 50%;
    background-color: rgba(46, 45, 45, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1em;
    padding-bottom: 1em;
}

@media screen and (max-width : 1023px) {

   
    #buttonretour {
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    #conclusion {
        font-weight: 800;
    }
    
}