/*INDEX*/

#entete {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 50%;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 4em;
    margin-left: 4em;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid white;
}
.bodyindex {
    background-image: url("imgfond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.midpage {
    display: flex;
    
}
.midpage:nth-child(2) {
    flex: 1;
}
button {
    background-color: transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

button:hover {
    background-color: rgba(8, 13, 83, 0.555);
}
button:active {
    background-color: rgb(22, 7, 90);
}
.conteneur {
    display: flex;
    flex-direction: column;
    margin-top: 7em ;
    margin-right: 80%;
    margin-left: 4em;   
}

#buttonfirst{
    width: 7em;
    border: 2px outset white;
    align-content: center;
    border-radius: 10px;
    color: white;
}
#buttonsecond{
    width: 7em;
    margin-top: 4em;
    border: 1px outset white;
    border-radius: 10px;
    color: white;

}
.presentation{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 8em;
    left: 40%;
}

.textepresentation {
    width: 500px;
    margin: auto;
    height: auto;
    max-height: 300px;
    text-align: justify;
    color: black;
    font-size: 20px;
    padding: 12px;
    overflow: auto;
    border-radius: 10px;
    background-color:rgba(105, 104, 104, 0.596);
}
::-webkit-scrollbar{
    opacity: 0;
}
a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    text-shadow: 1px 1px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
}


/*CV*/
.CV {
    background-image: url("fondCV.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
}


.identite {
    color: white;
    display: block;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5em;
    background-image: url("banniereCV.jpg");
    background-size: cover;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

#pdp {
    width: 6em;
    height: 6em;
    border-radius: 10px;
}

#nomprenom {
    width: 50%;
    margin-left: 8em;
    white-space: nowrap;
    text-shadow: 1px 2px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
    
}

#adresse {
    width: 50%;
    margin-left: 5em;
    min-width: 10em;
    text-shadow: 1px 2px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
    
}

#email {
    position: absolute;
    top: 11em;
    margin-left: 35%;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#buttonretour {
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    opacity: 0.8;
 
}
#projetpro {
    position: absolute;
    top: 27%;
    width: 80%;
    height: 10em;
    text-align: center;
    color: black;
    max-height: 3em;
    font-size: 20px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


#ongletCV {
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;    
    vertical-align: baseline ;
    margin-left: 3em;
    margin-top: 5em;
    height: ;
}
#buttonform {
    position: absolute;
    left: 20%;
    width: 150px;
    height: 40px;
    text-align: center;
    vertical-align: text-top ;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    
}

#buttonxp {
    position: absolute;
    left: 40%;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
} 

#buttonperso {
    position: absolute;
    left: 60%;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
} 

#bodyCV {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5em;
    vertical-align: baseline;
    
}
#artformation {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
    width: 75%;
    padding-left: 10%;
    padding-right: 25%;
    line-height: 150%;
    
}

#artexperience {
    position: absolute;
    left: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1em;
    font-size: 20px;
    width: 75%;
    height: auto;
    max-height: 250px;
    overflow: auto;
    border-bottom: 1px solid black;
}

#artperso {
    display: flex;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1em;
    font-size: 20px;
    width: 75%;
    padding-left: 10%;
    padding-right: 25%;
}

#perso {
    position: absolute;
    left: 10%;
}

#interet {
    position: absolute;
    left: 35%;
}



/*MOTIVATIONS*/

