/*INDEX*/

#entete {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 50%;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 4em;
    margin-left: 4em;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid white;
}
.bodyindex {
    background-image: url("imgfond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.midpage {
    display: flex;
    
}
.midpage:nth-child(2) {
    flex: 1;
}
button {
    background-color: transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

button:hover {
    background-color:rgba(105, 104, 104, 0.596);
}
button:active {
    background-color:rgba(105, 104, 104, 0.596);
}
.conteneur {
    display: flex;
    flex-direction: column;
    margin-top: 7em ;
    margin-right: 80%;
    margin-left: 4em;   
}

#buttonfirst{
    width: 7em;
    border: 2px outset white;
    align-content: center;
    border-radius: 10px;
    color: white;
}
#buttonsecond{
    width: 7em;
    margin-top: 4em;
    border: 1px outset white;
    border-radius: 10px;
    color: white;

}
.presentation{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 8em;
    left: 40%;
}

.textepresentation {
    width: 500px;
    margin: auto;
    height: auto;
    max-height: 300px;
    text-align: justify;
    color: black;
    font-size: 20px;
    padding: 12px;
    overflow: auto;
    border-radius: 10px;
    background-color:rgba(105, 104, 104, 0.596);
}
::-webkit-scrollbar{
    opacity: 0;
}
a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    text-shadow: 1px 1px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
}
@media screen and (max-width : 1023px) {
    
    #entete {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        width: 50%;
        color: rgb(255, 255, 255);
        text-align: left;
        margin-top: 4em;
        margin-left: 4em;
        border-bottom: 1px solid rgb(255, 255, 255);
        border-top: 1px solid white;
    }
    .bodyindex {
        background-image: url("imgfondtel.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .conteneur {
        margin-top: 5em ;
        margin-right: 80%;
        margin-left: 4em;   
    }

    #buttonfirst{
        position: absolute;
        top: 15em;
        left: 1em;
        width: 7em;
        border: 2px outset white;
        align-content: center;
        border-radius: 10px;
        color: white;
    }
    #buttonsecond{
        position: absolute;
        top: 11.11em;
        left: 10em;
        border: 1px outset white;
        border-radius: 10px;
        color: white;
    
    }

    .midpage {
        display: flex;
        
    }
    .midpage:nth-child(2) {
        flex: 1;
    }
    button {
        background-color: transparent;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
    
    button:hover {
        background-color:rgba(105, 104, 104, 0.596);
    }
    button:active {
        background-color:rgba(105, 104, 104, 0.596);
    }

    .presentation{
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        position: absolute;
        top: 20em;
        left: 10%;
    }
    
    .textepresentation {
        width: 50%;
        margin: auto;
        height: auto;
        max-height: 500px;
        text-align: justify;
        color: black;
        font-size: 20px;
        padding: 12px;
        overflow: auto;
        border-radius: 10px;
        background-color:rgba(105, 104, 104, 0.596);
    }
    ::-webkit-scrollbar{
        opacity: 0;
    }
    a {
        text-decoration: none;
        color: rgb(252, 252, 252);
        text-shadow: 1px 1px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
    }
}

/*CV*/
.CV {
    background-image: url("fondCV.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
}


.identite {
    color: white;
    display: block;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5em;
    background-image: url("banniereCV.jpg");
    background-size: cover;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

#pdp {
    width: 6em;
    height: 6em;
    border-radius: 10px;
}

#nomprenom {
    width: 50%;
    margin-left: 8em;
    white-space: nowrap;
    text-shadow: 1px 2px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
    
}

#adresse {
    width: 50%;
    margin-left: 5em;
    min-width: 10em;
    text-shadow: 1px 2px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
    
}

#email {
    position: absolute;
    top: 11em;
    margin-left: 35%;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#buttonretour {
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    opacity: 0.8;
 
}
#projetpro {
    position: absolute;
    top: 27%;
    width: 80%;
    height: 10em;
    text-align: center;
    color: black;
    max-height: 3em;
    font-size: 20px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


#ongletCV {
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;    
    vertical-align: baseline ;
    margin-left: 3em;
    margin-top: 5em;
}
#buttonform {
    position: absolute;
    left: 20%;
    width: 150px;
    height: 40px;
    text-align: center;
    vertical-align: text-top ;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    
}

#buttonxp {
    position: absolute;
    left: 40%;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
} 

#buttonperso {
    position: absolute;
    left: 60%;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
} 

#bodyCV {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5em;
    vertical-align: baseline;
    
}
#artformation {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
    width: 75%;
    padding-left: 10%;
    line-height: 150%;
    background-size: cover;
}

#artexperience {
    position: absolute;
    left: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1em;
    font-size: 20px;
    width: 75%;
    height: auto;
    max-height: 250px;
    overflow: auto;
    border-bottom: 1px solid black;
}

#artperso {
    display: flex;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1em;
    font-size: 20px;
    width: 75%;
    padding-left: 10%;
    padding-right: 25%;
}

#perso {
    position: absolute;
    left: 10%;
}

#interet {
    position: absolute;
    left: 35%;
}

@media screen and (max-width : 1023px) {
    
    .CV {
        background-image: url("fondCVmobile.jpg");
        background-repeat: no-repeat;
        background-size:  cover;
    }
    
    
    .identite {
        color: white;
        display: block;
        display: flex;
        flex-wrap: wrap;
        font-size: 25px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 1em;
        background-image: url("banniereCV.jpg");
        background-size: cover;
        padding-top: 1em;
        padding-bottom: 1em;
        
    }
    
    #pdp {
        width: 6em;
        height: 6em;
        border-radius: 10px;
    }
    
    #nomprenom {
        width: 25%;
        margin-left: 1em;
        white-space: nowrap;
        text-shadow: 1px 2px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
        
    }
    
    #adresse {
        width: 25%;
        margin-left: 1em;
        min-width: 10em;
        text-shadow: 1px 2px rgb(10, 10, 10), 0 0 1em rgb(2, 2, 2);
        
    }
    
    #email {
        position: relative;
        top: 1em;
        margin-left: 35%;
        font-size: 15px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    #buttonretour {
        position: absolute;
        left: 1em;
        top: 1em;
        font-size: 15px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: grey;
        opacity: 0.8;
     
    }
    #projetpro {
        position: relative;
        left: autoas;
        top: 4em;
        width: 80%;
        height: 10em;
        text-align: center;
        color: black;
        max-height: 3em;
        font-size: 20px; 
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    
    
    #ongletCV {
        position: relative;
        top: 3em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;    
        vertical-align: baseline ;
        margin-left: 10%;
        margin-top: 15%;
    }
    #buttonform {
        position: relative;
        left: 5%;
        text-align: center;
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        
    }
    
    #buttonxp {
        position: relative;
        left: 15%;
        text-align: center;
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
    } 
    
    #buttonperso {
        position: relative;
        left: 25%;
        text-align: center;
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
    } 
    
    #bodyCV {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 5em;
        vertical-align: baseline;
        
    }
    #artformation {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px; 
        width: 75%;
        padding-left: 10%;
        line-height: 150%;
        background-size: cover;
    }
    
    #artexperience {
        position: relative;
        left: 10%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 1em;
        font-size: 20px;
        width: 75%;
        height: auto;
        max-height: 400px;
        overflow: auto;
        border-bottom: 1px solid black;
    }
    
    #artperso {
        display: flex;
        flex-direction: column;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 1em;
        font-size: 20px;
        width: 75%;
        padding-left: 5%;
    }
    
    #perso {
        position: relative;
        left: 5%;
    }
    
    #interet {
        position: relative;
        top: 2em;
        left: 5%;
    }

    #buttonretour {
        top: 30%;
    }
}

/*MOTIVATIONS*/

#bodymotiv {
    background-image: url("fondbodymotiv.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
}

#artmotiv {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
    width: 75%;
    padding-left: 12.5%;
    line-height: 150%;
    text-align: justify;
    align-content: center;

}
#conclusion {
    font-weight: 900;
}
#bannieremotiv {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10%;
    padding-right: 50%;
    background-color: rgba(112, 112, 112, 0.185);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1em;
    padding-bottom: 1em;
}

@media screen and (max-width : 1023px) {

   
    #buttonretour {
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    
}